/* BILLY'S SECTION */
/* Logos */
.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Clipboard */
.clipboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clipboard h3{
    font-size: 30px;
    font-family: 'Commissioner';
}

.clipboard p{
    text-align: center;
    font-size: 19px;
    color: hsl(201, 11%, 66%);
    font-family: 'Commissioner';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 100px 0px 100px;
    padding: 10px;
}

/* Buttons in clipboard */
.clipboard button{
    font-family: 'Commissioner';
    border: none;
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}

.clipboard button.iOS{
    border: solid 4px hsl(171, 68%, 39%);
    background-color: hsl(171, 66%, 44%);
    color: white;}

.clipboard button.mac{
    border: solid 4px hsl(232, 30%, 59%);
    background-color: hsl(233, 100%, 69%);
    color: white;
}

/* FOOTER */
footer{
    padding: 10px;
    font-family: 'Commissioner';
    background-color: hsl(240, 20%, 95%);
    color: hsl(240, 3%, 59%);
}

.contacts{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
footer.Cliplogo{
    width: 20px;
    height: 20px;
}
.socials{
    color: black;
}

.attribution{
    font-size: 23px;
}